<h2>Users</h2>
<ul>
	<% @users.each do |user| %>
		<li><%= link_to(user.name, user) %>
			<% if @friends.include?(user)%>
				 <%= link_to "unfriend", friendships_destroy_path(friend_id: user.id), method: :delete %>
			<% elsif @requests_sent.include?(user) %>
				<%= link_to "delete friend request", current_user.sent_friend_requests.find_by(receiver_id: user.id), method: :delete %>
			<% elsif @requests_received.include?(user) %>
				<%= link_to "acccept friend request", friendships_path(friend_id: user.id), :method => :post %>
			<% else %>
				<%= link_to "send friend Request", friend_requests_path(:receiver_id => user.id), :method => :post %>
			<% end %>
		</li>
	<% end %>
</ul>
