<br>
<h2>User Profile</h2>

<p>Name: <%= @user.name %></p>
<p>Email: <%= @user.email %></>
<br><br>
<h3><%= link_to "Create new post", new_post_path if current_user == @user %></h3>



<h3>Posts: </h3>
<% if @posts.any? %>
	<%= render @posts %>
<% end %>

<% if @friends %>
	<h3>Friends: </h3>
	<ul>
		<% @friends.each do | friend | %>
			<li><%= link_to friend.name, friend %>  

				<%= link_to "Unfriend", friendship_path(friend_id: friend.id), :method => :delete  if @user == current_user%></li>
		<% end %>
	</ul>
<% end %>

<br>


<%= render 'friend_requests' %>

