<br>
<h2>User Profile</h2>

<p>Name: <%= @user.name %></p>
<p>Email: <%= @user.email %></>
<br><br>

<% if @friends %>
	<h3>Friends: </h3>
	<ul>
		<% @friends.each do | friend | %>
			<li><%= link_to friend.name, friend %>  
				(<%= link_to "Unfriend", friendship_path(friend_id: friend.id), :method => :delete  %>)</li>
		<% end %>
	</ul>
<% end %>

<br>

<%= render 'friend_requests' %>

