<h3>Fakebook</h3>
<ul>
	<li><%= link_to "Home", "#" %></li>
	<% if logged_in? %>
		<li><%= link_to "Profile", current_user %></li>
		<li><%= link_to "Users", users_path %></li>
		<li><%= link_to "Log out", logout_path, method: :delete %></li>
	<% else %>
		<li><%= link_to "Log in", login_path %></li>
		<li><%= link_to "Create account", signup_path %></li>
	
	<% end %>
</ul>